*.bin
.idea
.idea/*
.idea/**
.gradle
gradlew
gradlew.bat
**/gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
*.iml
*.dex
*.MF
*.class
bin/
gen/
/*/build/
/*/out/
proguard/
*.log
*.epoch
*.lck
/out/production/
*/out/production/

/**/rebel.xml

checkout.cmd
*.hprof

**/logback.xml

/**/build/

/**/out/
/**/testdata/